main{ 
    box-sizing: border-box;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav ul li{
    list-style: none;

}
nav li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 18px;
    
}
.home{
    font-weight: bold;
    color: #252432 ;
}
.cart{
    color: black;
}
/* banner style */
.banner-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.banner{
    display: flex;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.37rem;
}


/* shared style */
.dark-2{
    color: #8987A1;
}
.dark-3{
    color:rgba(0, 0, 0, 0.5);
}
.tomato{
    color: #E95A08;
}
.btn-primary{
    width: 100%;
    color: white;
    background-color: #E95A08;
    padding: 10px;
    border: none;
    
    
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Our plans style */
.our-plans{
    text-align: center;
    margin-bottom: 200px;
}
.plan-description{
    font-size: 1.37rem;
}
.plan-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.cards{
 display: grid;
 grid-template-columns: repeat(4,1fr);
}
.card{
    text-align: center;
    padding: 10px;
}
.card img{
    max-width: 100%;
}
/* flower lovers style */
.flower-lovers{
    display: flex;
    margin-bottom: 130px;
}
.flower-lovers img{
    max-width: 100%;
}
.flower-info{
    margin-left: 60px;
}
.flower-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.flower-list{
    font-size: 1.37rem;
}
/* latest deal style */
.latest-title{
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
}
.latest-description{
    font-size: 1.37rem;
    text-align: center;
}
/* plant discont style */
.container{
    display: flex;
    gap: 30px;
}
.left-colum{
    display: flex;
    flex-direction: column;
    flex: 1; 
   gap: 20px;
}
 .right-colum{
     flex: 2; 
    }

 
.flower-content{
    position: relative;
    
}
.flower{
    border-radius: 10px;
     /* object-fit: cover; */
    /* display: block;  */
    filter: brightness(60%);
    
    height: auto;
}

.discount{
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 5px 10px;
    
}

.discount-zabo{
    position: absolute;
    top: 170px;
    left: 200px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;

}
.shop-now{
    position: absolute;
    bottom: 100px;
    left: 140px;
    color: white;
    font-weight: bold;
}
.shop-now-zabo{
    position: absolute;
    bottom: 180px;
    left: 300px;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}

@media screen and (max-width:576px) {
    
    .home,.shop,.about-us{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    nav{
        margin: auto;
    }
    .banner-img{
        width: 100%;
    }
    .banner-title{
        text-align: center;
    }
    .banner-description{
        text-align: center;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .flower-lovers{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container{
        flex-direction: column;
        gap: 10px;
        
    }
    .flower{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .discount{
    position: absolute;
    top: 70px;
    left: 100px;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 5px 10px;
}
 .discount-zabo{
    position: absolute;
    top: 90px;
    left: 60px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.shop-now{
    position: absolute;
    bottom: 130px;
    left: 180px;
    color: white;
    font-weight: bold;
}
.shop-now-zabo{
    position: absolute;
    bottom: 100px;
    left: 160px;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}
}